RewriteEngine On
RewriteBase /

# Debug - In ra URL sau khi rewrite
RewriteRule .* - [E=MYURL:%{REQUEST_URI},L]

# Routes to index.php
RewriteRule ^([^/]+)/?$ index.php?controller=$1 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?controller=$1&action=$2 [QSA,L]
